body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    font-size: 2rem;
    color: #ffffff;
    margin: 0 0 5px;
  }

  .flav-redirection-page {
    color: #ffffff;
    cursor: pointer;
  }

  .flav-redirection-page:hover {
    opacity: 0.7;
  }
  
  .page-subtitle {
    font-size: 3rem;
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .alura-logo:hover {
    opacity: 0.7;
  }

  #listaJogos img {
    margin: 10px;
    max-height: 250px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  
  .card-jogo {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:250px;
    width:180px;
    margin-bottom: 50px;
  }
  
  .botao-remover-jogo {
    width:80px;
    color:white;
    background: #da1e26;
    cursor: pointer;
  }

  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
